.profile-info {
    width: max-content;
    height: 73px;
    margin-left: 30px;
    position: relative;
}

@media (max-width:768px) {
    .profile-info {
        width: 282px;
        height: 54px;
        margin: 0;
        margin-top: 26px;
    }
}