.element-like-group__icon {
    background-color: rgba(255, 0, 0, 0);
    background-image: url('../../../images/Heart.svg');
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    border: none;
    outline: none;
    cursor: pointer;
}

.element-like-group__icon:hover {
    opacity: 0.5;
}