.element-group {
    max-width: 246px;
    height: 23px;
    margin-top: 25px;
    margin-left: 21px;
    margin-right: 15px;
    margin-bottom: 31px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}